// ---- Colors ----
$red-orange-crayola: hsl(0, 100%, 66%);
$space-cadet: hsl(249, 37%, 19%);
$pistachio: hsl(88, 50%, 60%);
$cultured: hsl(220, 13%, 95%);
$saffron: hsl(45, 91%, 58%);
$rhythm: hsl(240, 9%, 51%);
$white: hsl(0, 0%, 100%);
// ---- Other -----
$general-font: 'Poppins';
$transition: 0.3s ease; 
